input {
    color: rgb(31, 31, 31);
    font-size: 20px !important;
}

.list-item {
    display: inline-block;
    margin-right: 10px;
}
.list-enter-active, .list-leave-active {
    transition: all 1s;
}
.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

.main-timer { 
    position: sticky; 
    top: 50vh; 
    width: 120px;
    /* transform-origin: right; */
    transform: scale(2);
}

.blink {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.50;
    }
}

.texto-vermelho {
    color: red;
}